.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  width: 100%;

  padding: 5px 0;

  background-color: var(--tertiary-dark-bg-color);
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  padding: 0;

  color: var(--secondary-dark-border-color);
  background: transparent;

  &:hover,
  &:focus {
    color: var(--secondary-accent-bg-color);
  }
}

.header-icon {
  $size: 10px;

  width: $size;
  height: $size;

  fill: currentColor;
}

#line {
  padding-top: 8px;
}
