.basic-btn {
  padding: 5px;

  color: var(--primary-light-text-color);
  background-color: var(--primary-accent-bg-color);
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: var(--secondary-accent-bg-color);
  }

  &:disabled {
    background-color: var(--primary-accent-bg-color);
    cursor: auto;
  }
}

.enter-button {
  min-width: 132px;
  min-height: 42px;

  margin-top: 25px;
  text-transform: uppercase;
}

.send-message-btn {
  min-width: 112px;
}

.transparent-btn {
  padding: 5px 10px;

  font-size: 15px;
  color: var(--primary-accent-text-color);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: var(--tertiary-dark-bg-color-tint);
  }

  &:disabled {
    background-color: transparent;
    cursor: auto;
  }
}


