body {
  // font-family: 'Ubuntu'; // TODO add font 'Ubuntu'
  font-size: var(--primary-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--primary-light-text-color);
  background-color: var(--primary-dark-bg-color);

  overflow: hidden;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
}

.page-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.is-rollup {
    position: fixed;
    top: calc(100% - 20px); // 20px - header height
    left: 0;
    right: 0;
    transform: translate(0, 0);
  }
}

.main {
  display: flex;
  justify-content: center;

  height: 430px;

  &.is-rollup {
    display: none;
  }
}

.is-hidden {
  display: none !important;
}
