:root {
  //colors
  --primary-light-text-color: #ffffff;
  --secondary-light-text-color: #7f91a4;
  --secondary-light-text-color-dark-tint: #5b6774;
  --secondary-light-text-color-dark-tint-2:#6d7883;
  --secondary-light-text-color-dark-tint-3:#7a8b9e;
  --placeholder-color: #858e97;
  --primary-accent-text-color: #6ab2f2;

  --primary-dark-bg-color: #09101a;
  --secondary-dark-bg-color: #17212b;
  --secondary-dark-bg-color-tint:#182533;
  --tertiary-dark-bg-color: #242f3d;
  --tertiary-dark-bg-color-tint:#1d2a39;
  --primary-accent-bg-color: #5288c1;
  --secondary-accent-bg-color: #2b5278;

  --primary-dark-border-color: #465362;
  --secondary-dark-border-color: #52616d;
  

  //typography
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --regular-font-weight: 400;

  //animation
  --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //container width
  --max-width: 810px;
}

//breakpoints for adaptability
$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
